In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('//HOLMFS06/User-3/I054569/python/adventofcode/Tag1/aufgabe1.csv',sep="\n", names=["Numbers"])
df.sort_values(by='Numbers')
df["Differenz"]=2020 - df["Numbers"]

In [3]:
df2=df

In [4]:
df3=df.set_index("Numbers").join(df2.set_index("Differenz"), how="inner", lsuffix="_links", rsuffix="_rechts")
df3

      Differenz  Numbers
1486        534      534
534        1486     1486

In [5]:
534*1486

793524