In [91]:
import pandas as pd

In [155]:
df=pd.read_csv('/python/adventofcode/Tag1/aufgabe1.csv',sep="\n", names=["Numbers"])
df.sort_values(by='Numbers')
df["Differenz"]=2020 - df["Numbers"]
df["joiner"]="A"
df

     Numbers  Differenz joiner
0       1293        727      A
1       1207        813      A
2       1623        397      A
3       1675        345      A
4       1842        178      A
..       ...        ...    ...
195     1270        750      A
196     1497        523      A
197     1707        313      A
198     1708        312      A
199     1396        624      A

[200 rows x 3 columns]

In [156]:
df2=df
df2 = df2.sort_values(by='Differenz').reset_index(drop=True)
df2

     Numbers  Differenz joiner
0       2010         10      A
1       2005         15      A
2       2004         16      A
3       2002         18      A
4       2001         19      A
..       ...        ...    ...
195      557       1463      A
196      534       1486      A
197      160       1860      A
198       85       1935      A
199       71       1949      A

[200 rows x 3 columns]

In [157]:
df3 = df.join(df2, on="joiner", how="outer", rsuffix="_rechts")
#df3=df.set_index("Numbers").join(df2.set_index("Differenz"), how="inner", lsuffix="_links", rsuffix="_rechts")
#df3.loc(df3["Numbers"] != "NaN")
df3

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [145]:
ergebnis= df['Numbers'].intersection(set(df2['Differenz']))
ergebnis
loesung = ergebnis[0] * ergebnis[1]

AttributeError: 'Series' object has no attribute 'intersection'

In [147]:
534*1486

793524