In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('Aufgabe3.csv', names=['trees'])
df

                               trees
0    .........#....#.###.........##.
1    ..###.#......#......#.......##.
2    ##....#.#.......#.....#........
3    #........#..........#.#...#...#
4    #....###...##.....#........#...
..                               ...
318  #.#....#.......#..#.##.##......
319  .#.....#..#..#......#....#.#...
320  ...#..........................#
321  ............#.#..#.##......#...
322  .....#..........#.#........#.#.

[323 rows x 1 columns]

In [19]:
def split(word): 
    return [char for char in word]

In [62]:
def slope(right, down):
    i=0
    j=0
    pos_hor=0
    anzahl_baeume = 0
    while i < len(df):
        i += down
        if i >322:
            break
        x=split(df.loc[i,'trees'])
        while j < right:
            pos_hor += 1
            if pos_hor == 31:
                pos_hor = 0
            j += 1
        if x[pos_hor]=='#':
            anzahl_baeume = anzahl_baeume + 1
        j = 0
    print(anzahl_baeume)
    return anzahl_baeume

In [63]:
a=slope(1,1)
b=slope(3,1)
c=slope(5,1)
d=slope(7,1)
e=slope(1,2)
print("Die Lösung ist: " + str(a*b*c*d*e))

70
240
68
67
37
Die Lösung ist: 2832009600